<div class="main-container">
  <div class="container-fluid px-2">
    <p>Sort By</p>
    <div class="container-fluid bg-white rounded">
      <div class="row text-center py-1 ">
        <div class="col"><a type="button" href="http://" style="font-weight: 500;">DEPARTURE</a></div>
        <div class="col"><a href="http://" style="font-weight: 500;">DURATION</a></div>
        <div class="col"><a href="http://" style="font-weight: 500;">ARRIVAL</a></div>
        <div class="col"><a href="http://" style="font-weight: 500;">PRICE</a></div>
      </div>
    </div>
  </div>
  <app-flight-details-card></app-flight-details-card>
</div>

