<div class="main-container">
  <div class="container-fluid p-2">
    <p>Sort By</p>
    <div class="container-fluid bg-white rounded">
      <div class="row text-center py-1 ">
        <div class="col"><a href="http://">DEPARTURE</a></div>
        <div class="col"><a href="http://">DURATION</a></div>
        <div class="col"><a href="http://">ARRIVAL</a></div>
        <div class="col"><a href="http://">PRICE</a></div>
      </div>
    </div>
  </div>
  <app-flight-details-card></app-flight-details-card>
</div>

