<div class="container">
<form>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" />
  </div>
  <div class="mb-3">
    <label for="college" class="form-label">College</label>
    <input type="text" class="form-control" id="college" />
  </div>
  <div class="mb-3">
    <label for="cgpa" class="form-label">CGPA</label>
    <input type="text" class="form-control" id="cgpa" />
  </div>
  <div class="mb-3">
    <label for="yearofpassing" class="form-label">Year of passing</label>
    <input type="text" class="form-control" id="yearofpassing" />
  </div>
  <div class="mb-3">
    <label for="dateofjoining" class="form-label">Date of joining</label>
    <input type="date" class="form-control" id="dateofjoining" />
  </div>
  <div class="mb-3">
    <label for="skills" class="form-label">Skills</label>
    <input type="text" class="form-control" id="skills" />
  </div>
  <div class="mb-3">
    <label for="cgpa" class="form-label">Upload Resume:</label>
    <input type="file" class="form-control" id="cgpa" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>